/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button {
  cursor: pointer;
}

.dashboard {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
  
  .is-mobile .dashboard-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.app-name {
    margin-left: 8px;
  }
  
  .sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .is-mobile .sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }

mat-sidenav {
    width: 250px;
}

.fill-space {
  flex: 1 1 auto;
}

.route-icon {
  padding-right: 8px;
  color: gray;
}

.nav-chevron {
  display: inline-flex;
  vertical-align: middle;    
}

.submenu-item > .sidenav-list-item {
  font-size: 14px;
  height: 36px !important;
}

.submenu-item > .active {
  background: #eee !important;
}

.mat-slide-toggle {
  padding-bottom: 0.5em;
}