<mat-tab-group mat-stretch-tabs animationDuration="1000ms" fxFlex="100" fxLayout="column" fxLayoutGap="16px">
    <mat-tab label="{{ 'survey overview' | translate | capitalizeFirst }}">
        <mat-card fxFlex.gt-sm="50" fxFlex.sm="100" fxFlexOffset.gt-sm="25" fxLayout="column" fxLayoutGap="16px">
            <mat-card-title fxLayout="row" fxLayoutGap="16px">
                {{ surveyTitle }}
                <span class="fill-space"></span>
                <button mat-flat-button color="primary" type="submit" form="surveyForm" [disabled]="!formChanged">
                    <mat-icon>save</mat-icon>
                    {{ 'save' | translate | capitalizeFirst }}
                </button>
                <button mat-flat-button color="warn" type="button" (click)="delete()">
                    {{ 'delete' | translate | capitalizeFirst }}
                </button>
            </mat-card-title>
            <mat-card-content>
                <form [formGroup]="surveyForm" id="surveyForm" (ngSubmit)="saveSurvey()" fxLayout="column" fxLayoutGap="16px">
                    <!-- TITLE -->
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'title' | translate | capitalizeFirst }}</mat-label>
                        <input matInput placeholder="{{ 'title' | translate | capitalizeFirst }}" formControlName="title" [(ngModel)]="surveyTitle" required>
                        <mat-error *ngIf="surveyForm.get('title').hasError('required')">
                            {{ 'validation.required' | translate | capitalizeFirst }}
                        </mat-error>
                        <mat-error *ngIf="surveyForm.get('title').hasError('validation.not_blank')">
                            {{ 'validation.not_blank' | translate | capitalizeFirst }}
                        </mat-error>
                    </mat-form-field>
                    <!-- DESCRIPTION -->
                    <mat-form-field>
                        <mat-label>{{ 'description' | translate | capitalizeFirst }}</mat-label>
                        <textarea matInput placeholder="{{ 'description' | translate | capitalizeFirst }}" formControlName="description" matTooltip="Info about the action"></textarea>
                        <mat-error *ngIf="surveyForm.get('description').hasError('validation.not_string')">
                            {{ 'validation.not_string' | translate | capitalizeFirst }}
                        </mat-error>
                    </mat-form-field>
                    <!-- SUMMARY -->
                    <mat-form-field>
                        <mat-label>{{ 'summary' | translate | capitalizeFirst }}</mat-label>
                        <textarea matInput placeholder="{{ 'summary' | translate | capitalizeFirst }}" formControlName="summary" matTooltip="Info about the action"></textarea>
                        <mat-error *ngIf="surveyForm.get('summary').hasError('validation.not_string')">
                            {{ 'validation.not_string' | translate | capitalizeFirst }}
                        </mat-error>
                    </mat-form-field>
                    <!-- DURATION -->
                    <div fxLayout="row" fxFlex="100">
                        <mat-form-field fxFlex.gt-sm="30">
                            <mat-label>{{ 'duration' | translate | capitalizeFirst }}</mat-label>
                            <input matInput [patterns]="durationPattern" 
                                    mask="00:10:10" 
                                    placeholder="HH:MM:SS" 
                                    formControlName="duration" 
                                    matTooltip="Survey duration (format HH:MM:SS). Leave blank for unlimited time"
                            >
                            <mat-error *ngIf="surveyForm.get('duration').hasError('validation.not_int')">
                                {{ 'validation.not_int' | translate | capitalizeFirst }}
                            </mat-error>                
                        </mat-form-field> 
                    </div>
                    <!-- TTL -->
                    <div fxLayout="row" fxFlex="100">
                        <mat-form-field fxFlex.gt-sm="30">
                            <mat-label>{{ 'ttl' | translate | capitalizeFirst }}</mat-label>
                            <input [ngxMatDatetimePicker]="picker"
                                   matInput 
                                   placeholder="{{ 'ttl' | translate | capitalizeFirst }}" 
                                   formControlName="ttl" 
                                   matTooltip="Info about the action"
                            >
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <ngx-mat-datetime-picker #picker [showSpinners]="true" [enableMeridian]="true"></ngx-mat-datetime-picker>
                            <mat-error *ngIf="surveyForm.get('ttl').hasError('validation.not_int')">
                                {{ 'validation.not_int' | translate | capitalizeFirst }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxFlex="100" fxLayoutGap="16px">
                        <!-- PAGINATION -->
                        <mat-slide-toggle formControlName="use_pagination" fxFlexAlign="center">
                            {{ 'usePagination' | translate | capitalizeFirst }}
                        </mat-slide-toggle>
                        <!-- RESTRICT SUBMISSIONS -->
                        <mat-slide-toggle formControlName="restrict_submissions" fxFlexAlign="center">
                            {{ 'restrictSubmissions' | translate | capitalizeFirst }}
                        </mat-slide-toggle>
                        <!-- SHUFFLE QUESTIONS -->
                        <mat-slide-toggle formControlName="shuffle_questions">
                            {{ 'shuffleQuestions' | translate | capitalizeFirst }}
                        </mat-slide-toggle>
                        <!-- IMMEDIATE ANSWERS -->
                        <mat-slide-toggle formControlName="immediate_answers">
                            {{ 'immediateAnswers' | translate | capitalizeFirst }}
                        </mat-slide-toggle> 
                    </div>
                    <div fxLayout="row" fxFlex="100" fxLayoutGap="16px">
                        <!-- QUESTIONS PER PAGE -->
                        <mat-form-field fxFlexAlign="center">
                            <mat-label>{{ 'questions_per_page' | translate | capitalizeFirst }}</mat-label>
                            <input matInput 
                                   placeholder="{{ 'questions_per_page' | translate | capitalizeFirst }}" 
                                   formControlName="questions_per_page" 
                                   matTooltip="Info about the action"
                            >
                            <mat-error *ngIf="surveyForm.get('questions_per_page').hasError('validation.not_int')">
                                {{ 'validation.not_int' | translate | capitalizeFirst }}
                            </mat-error>
                        </mat-form-field> 
                        <!-- ALLOWED SUBMISSIONS -->
                        <mat-form-field fxFlexAlign="center">
                            <mat-label>{{ 'allowedSubmissions' | translate | capitalizeFirst }}</mat-label>
                            <input matInput 
                                   placeholder="{{ 'allowed_submissions' | translate | capitalizeFirst }}" 
                                   formControlName="allowed_submissions" 
                                   matTooltip="Info about the action"
                            >
                            <mat-error *ngIf="surveyForm.get('allowed_submissions').hasError('validation.not_int')">
                                {{ 'validation.not_int' | translate | capitalizeFirst }}
                            </mat-error>
                        </mat-form-field>
                        <!-- NEXT SUBMISSION AFTER -->
                        <input type="hidden" formControlName="next_submission_after">
                    </div>
                    <div fxLayout="row" fxFlex="100" fxLayoutGap="16px">
                        <span fxLayout="column" fxLayoutAlign="center">{{ 'next_submission_after' | translate | capitalizeFirst }}</span>
                        <ngx-time-duration-picker returnedValueUnit="second" (OnChange)="test($event)" fxLayout="row">
                            <ngx-time-duration-picker-unit 
                                name="minute" 
                                min="0" 
                                max="60" 
                                step="1" 
                                class="picker-unit" 
                                label="{{ 'minutes' | translate | capitalizeFirst }}"
                                inputDisabled="{{ disableNextSubmission }}">
                            </ngx-time-duration-picker-unit>
                            <ngx-time-duration-picker-unit 
                                name="hour" 
                                min="0" 
                                max="60" 
                                step="1" 
                                class="picker-unit" 
                                label="{{ 'hours' | translate | capitalizeFirst }}"
                                inputDisabled="{{ disableNextSubmission }}">
                            </ngx-time-duration-picker-unit>
                            <ngx-time-duration-picker-unit 
                                name="day" 
                                min="0" 
                                max="60" 
                                step="1" 
                                class="picker-unit" 
                                label="{{ 'days' | translate | capitalizeFirst }}"
                                inputDisabled="{{ disableNextSubmission }}">
                            </ngx-time-duration-picker-unit>
                        </ngx-time-duration-picker>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </mat-tab>
    <mat-tab label="{{ 'questions' | translate | capitalizeFirst }}">
        <div fxFlex="100" fxLayout="row">
            <mat-card fxFlex="30" fxLayout="column" fxLayoutGap="16px">
                <mat-card-title fxLayout="row" fxLayoutGap="16px">
                    {{ questionLabel }}
                    <span class="fill-space"></span>
                    <button mat-flat-button color="primary" type="submit" form="questionForm" [disabled]="!formChanged">
                        <mat-icon>add</mat-icon>
                        {{ 'add' | translate | capitalizeFirst }}
                    </button>
                    <button mat-flat-button color="warn" type="button" (click)="clearQuestion()">
                        {{ 'clear' | translate | capitalizeFirst }}
                    </button>
                </mat-card-title>
                <mat-card-content>
                    <form [formGroup]="questionForm" id="questionForm" (ngSubmit)="saveQuestion()" fxLayout="column" fxLayoutAlign="none">
                        <!-- LABEL -->
                        <mat-form-field appearance="outline">
                            <mat-label>{{ 'label' | translate | capitalizeFirst }}</mat-label>
                            <input matInput placeholder="{{ 'label' | translate | capitalizeFirst }}" formControlName="label" [(ngModel)]="questionLabel" required>
                            <mat-error *ngIf="questionForm.get('label').hasError('required')">
                                {{ 'validation.required' | translate | capitalizeFirst }}
                            </mat-error>
                            <mat-error *ngIf="questionForm.get('label').hasError('validation.not_blank')">
                                {{ 'validation.not_blank' | translate | capitalizeFirst }}
                            </mat-error>
                        </mat-form-field>
                        <!-- DESCRIPTION -->
                        <ckeditor [editor]="editor" tagName="textarea" formControlName="description"></ckeditor>
                        <!-- TYPE -->
                        <mat-form-field appearance="fill">
                            <mat-label>{{ 'question.type' | translate | capitalizeFirst }}</mat-label>
                            <mat-select name = "type">
                            <mat-option *ngFor = "let type of questionTypes" [value] = "type.value">
                                {{ type.viewValue }}
                            </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <!-- HINT -->
                        <mat-form-field>
                            <mat-label>{{ 'hint' | translate | capitalizeFirst }}</mat-label>
                            <textarea matInput placeholder="{{ 'hint' | translate | capitalizeFirst }}" formControlName="hint" matTooltip="Info about the action"></textarea>
                            <mat-error *ngIf="questionForm.get('hint').hasError('validation.not_string')">
                                {{ 'validation.not_string' | translate | capitalizeFirst }}
                            </mat-error>
                        </mat-form-field>           
                        <!-- REQUIRED -->
                        <mat-slide-toggle formControlName="isRequired">
                            {{ 'isRequired' | translate | capitalizeFirst }}
                        </mat-slide-toggle>
                        <!-- SHUFFLE ANSWERS -->
                        <mat-slide-toggle formControlName="shuffleAnswers">
                            {{ 'shuffleAnswers' | translate | capitalizeFirst }}
                        </mat-slide-toggle>
                    </form>
                </mat-card-content>
            </mat-card>
            <mat-card fxFlex="70" fxLayout="column" fxLayoutGap="16px">
                <mat-card-title fxLayout="row" fxLayoutGap="16px">
                    Questions
                </mat-card-title>
                <mat-card-content>
                    content
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>
    <mat-tab label="{{ 'answers' | translate | capitalizeFirst }}">
        Content 3
    </mat-tab>
</mat-tab-group>
